@charset "UTF-8";
#leftArea{
	width: 900px;
	margin: 0px 30px 0px 40px;
	float: left;
}

#rightArea{
	width: 300px;
	float: left;
}
#draggArea{
	width: 900px;
	
	height: 970px;
	background-color: #E9ECEF;
	display: inline-block;
	
}


#boxMake{
	height: 970px;
	width: 300px;
	display: inline-block;
	float: left;
}

#boxMakingArea{
	height: 400px;
	width: 300px;
	background-color: gray;
}

#boxListArea{
	width: 300px;
	height: 200px;
	background-color: red;
}

#confirmArea{
	width: 300px;
	height: 40px;
	position: relative;
	top: 160px;
}

#confirmbtn{
	width: 100px;
	height: 40px;
	position: relative;
	left: 200px;
}

.bigbutton{
	width:300px;
	height: 80px;
}

.draggablepc {
	height: 70px;
	padding: 0;
	margin: 0;
	position: absolute;
}

.draggablebil {
	width: 270px;
	height: 170px;
	padding: 0;
	margin: 0;
	position: absolute;
	border: 1px solid black;
}

.draggablekar {
	width: 200px;
	height: 220px;
	padding: 0;
	margin: 0;
	position: absolute;
	border: 1px solid black;
}

.draggablebowl {
	width: 100px;
	height: 420px;
	padding: 0;
	margin: 0;
	position: absolute;
	border: 1px solid black;
}

.pcspace{
	width:50px;
	height: 70px;
	padding: 0;
	margin: 0;
	
}
.pcspaceimg {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0;
	
	background-image: url("../img/space/spacepc.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.pcNum{
	width: 50px;
	height: 20px;
	font-size: 10px;
}

.karspaceimg{
	width: 200px;
	height: 200px;
	background-image: url("../img/space/spacekaraoke.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bilspaceimg{
	width:270px;
	height: 150px;
	background-image: url("../img/space/spacebiliard.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bowlspaceimg{
	width: 100px;
	height: 400px;
	background-image: url("../img/space/spacebowling.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.tablespaceimg{
	width: 150px;
	height: 150px;
	background-image: url("../img/space/spacetable.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.roomspaceimg{
	width: 200px;
	height: 100px;
	background-image: url("../img/space/spaceroom.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.spaceEmpty0{
	opacity: 1;
}

.spaceEmpty1{
	opacity: 0.2;
}

#reservationArea{
	width: 900px;
	background-color: #17A2B8;
	padding: 10px;
}

#reservationtb{
	width: 800px;
	margin: 30px;
}

#spaceImgArea{
	width: 300px;
	background-color: #732850;
}

#mySpaceImg{
	width: 300px;
	
}

#selectable .ui-selecting {
	background: #FECA40;
}

#selectable .ui-selected {
	background: #F39814;
	color: white;
}

#selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#selectable li {
	margin: 3px;
	font-size: 10px;
	height: 18px;
}