@charset "UTF-8";

#profileImg {
    text-align: center;
    margin-bottom: 30px;
}

#profileImg > img {
    height: 400px;
    width: 90%;
}

.reserveSubmit {
    text-align: center;
}

.btn-primary {
    width: 90%;
}

.mapContainer {
	width: 80%;
	margin: auto;
	margin-bottom: 80px;
}



#menu {
	color: red;
	cursor: pointer;
}

.modalContainer {
	text-align: center;
	display: none;
}

@media only screen and (min-width: 1200px) {
	.modalContainer {
		margin: 0px 10%;
	}
}

.menuPic {
	width : 80%;
	height: 200px;
	margin: 0px auto;
	margin-bottom: 15px;
	outline: 1px solid red;
	
}

